<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Tiros</h1>

  <h1>{{ tiros }}</h1>

  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button (click)="init()">
      <ion-icon name="mic-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
